# HW3 Q4 [10 pts]



## Important Notices

<div class="alert alert-block alert-danger">
    WARNING: Do <strong>NOT</strong> add any cells to this Jupyter Notebook, because that will crash the autograder. Additionally, Make sure to delete or comment out any code you add to this notebook for testing purposes prior to submitting the notebook to Gradescope. Failure to do so may crash the autograder. 
</div>


All instructions, code comments, etc. in this notebook **are part of the assignment instructions**. That is, if there is instructions about completing a task in this notebook, that task is not optional.  



<div class="alert alert-block alert-info">
    You <strong>must</strong> implement the following functions in this notebook to receive credit.
</div>

`user()`

`load_data()`

`exclude_no_pickuplocations()`

`exclude_no_tripdistance()`

`include_fare_range()`

`get_highest_tip()`

`get_total_toll()`

Each method will be auto-graded using different sets of parameters or data, to ensure that values are not hard-coded.  You may assume we will only use your code to work with data from NYC Taxi Trips during auto-grading. You do not need to write code for unreasonable scenarios.  

Since the overall correctness of your code will require multiple function to work together correctly (i.e., all methods are interdepedent), implementing only a subset of the functions likely will lead to a low score.

### Helper functions

You should not use - and do not need - any helper functions; implement the required functions by completing the function skeletons below. All of the fuctions you implement should be self-contained; each function should carry all of the code it needs to execute on its expected input(s) within its body. 

### Kernel Selection

Be sure that you select the PySpark kernel from the kernel options above, if it is not already selected. Do not use the Python3 kernel. The notebook should default to the PySpark kernel.

#### Pyspark Imports
<span style="color:red">*Please don't modify the below cell*</span>

In [1]:
import pyspark
from pyspark.sql import SQLContext
from pyspark.sql import *

#### Define Spark Context
<span style="color:red">*Please don't modify the below cell*</span>

In [2]:
sc
sqlContext = SQLContext(sc)

### Student Section - Please compete all the functions below

#### Function to return GT Username

In [51]:
def user():
        """
        :return: string
        your GTUsername, NOT your 9-Digit GTId  
        """         
        return 'zyang363'

#### Function to load data

In [52]:
def load_data(gcp_storage_path):
    """
        :param gcp_storage_path: string (full gs path including file name e.g gs://bucket_name/data.csv) 
        :return: spark dataframe  
    """
    
    ################################################################
    # code to load yellow_tripdata_2019-01.csv data from your GCP storage bucket#
    #                                                              #        
    ################################################################
    df = spark.read.format("csv").option("header",True).load(gcp_storage_path)
        
    return df

#### Function to exclude trips that don't have a pickup location

In [53]:
def exclude_no_pickuplocations(df):
    """
        :param nyc tax trips dataframe: spark dataframe 
        :return: spark dataframe  
    """
    
    ################################################################
    # code to exclude trips with no pickup locations               #
    # Note: Exclude nulls and zeros                                #        
    ################################################################
    
    df = df.filter(df.pulocationid.isNotNull())
    df = df.filter(df.pulocationid > 0)
    
    
    return df

#### Function to exclude trips with no distance

In [54]:
def exclude_no_tripdistance(df):
    """
        :param nyc tax trips dataframe: spark dataframe 
        :return: spark dataframe  
    """
    
    ################################################################
    # code to exclude trips with no trip distances                 #
    # Note: Exclude nulls and zeros                                #        
    ################################################################
    df = exclude_no_pickuplocations(df)
    df = df.withColumn("trip_distance", df.trip_distance.cast("decimal(38,10)"))
    df = df.filter(df.trip_distance.isNotNull())
    df = df.filter(df.trip_distance > 0)
    
    return df

#### Function to include fare amount between the range of 20 to 60 Dollars

In [55]:
def include_fare_range(df):
    """
        :param nyc tax trips dataframe: spark dataframe 
        :return: spark dataframe  
    """
    
    ################################################################
    # code to include trips with only within the fare range of     #
    # 20 to 60 dollars (including 20 and 60 dollars)               #        
    ################################################################
    df = exclude_no_tripdistance(df)
    df = df.withColumn("fare_amount", df.fare_amount.cast("decimal(38,10)"))
    df = df.filter(df.fare_amount >=20)
    df = df.filter(df.fare_amount <= 60)
    
    return df

#### Function to get the highest tip amount

In [56]:
def get_highest_tip(df):
    """
        :param nyc tax trips dataframe: spark dataframe 
        :return: decimal (rounded to 2 digits)  (NOTE: DON'T USE FLOAT)
    """
    
    ################################################################
    # code to get the highest tip amount                           #
    #                                                              #        
    ################################################################
    df = include_fare_range(df)
    df = df.withColumn("tip_amount", df.tip_amount.cast("decimal(38,10)"))
    max_tip = df.agg({"tip_amount": 'max'}).collect()[0]["max(tip_amount)"]
    max_tip = round(max_tip, 2)
    
    return max_tip

#### Function to get total toll amount

In [66]:
def get_total_toll(df):
    """
        :param nyc tax trips dataframe: spark dataframe 
        :return: decimal (rounded to 2 digits)  (NOTE: DON'T USE FLOAT)
    """
    
    ################################################################
    # code to get total toll amount                                #
    #                                                              #        
    ################################################################
    df = include_fare_range(df)
    df = df.withColumn("tolls_amount", df.tolls_amount.cast("decimal(38,10)"))
    total_toll = df.agg({"tolls_amount": 'sum'}).collect()[0]["sum(tolls_amount)"]
    total_toll = round(total_toll, 2)
    
    return total_toll

### Run above functions and print

#### Uncomment the cells below and test your implemented functions

#### Load data from yellow_tripdata09-08-2021.csv

In [58]:
#gcp_storage_path = "gs://zyang363/yellow_tripdata09-08-2021.csv"
#df = load_data(gcp_storage_path)
#df.printSchema()
#df.show()

root
 |-- vendorid: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- ratecodeid: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pulocationid: string (nullable = true)
 |-- dolocationid: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|vendorid|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|ratecodeid|store_and_fwd_flag|pulocationid|dolocationid|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2019-01-01 00:46:40|  2019-01-01 00:53:20|              1|         1.50|         1|                 N|         151|         239|           1|          7|  0.5|    0.5|      1.65|           0|                  0.3|        9.95|                null|
|       2| 2018-11-28 15:52:25|  2018-11-28 15:55:45|              5|          .00|         1|                 N|           0|         193|           2|        3.5|  0.5|    0.5|         0|           0|                  0.3|        7.55|                null|
|       1| 2019-01-01 00:21:28|  2019-01-01 00:28:37|              1|         1.30|         1|                 N|           0|         229|           1|        6.5|  0.5|    0.5|      1.25|           0|                  0.3|        9.05|                null|
|       2| 2018-11-28 16:29:37|  2018-11-28 16:33:43|              5|          .00|         2|                 N|         193|         193|           2|         52|    0|    0.5|         0|           0|                  0.3|       55.55|                null|
|       1| 2019-01-01 00:21:59|  2019-01-01 00:28:24|              1|          .70|         1|                 N|           0|         151|           1|        5.5|  0.5|    0.5|       1.7|           0|                  0.3|         8.5|                null|
|       1| 2019-01-01 00:24:04|  2019-01-01 00:47:06|              2|         2.80|         1|                 N|         246|         162|           1|         15|  0.5|    0.5|      3.25|           0|                  0.3|       19.55|                null|
|       1| 2019-01-01 00:45:21|  2019-01-01 01:31:05|              1|         8.70|         1|                 N|         163|          25|           1|       34.5|  0.5|    0.5|      7.15|           0|                  0.3|       42.95|                null|
|       2| 2019-01-01 00:23:14|  2019-01-01 00:25:40|              1|          .38|         1|                 N|           0|         170|           2|        3.5|  0.5|    0.5|         0|           0|                  0.3|         4.8|                null|
|       2| 2019-01-01 00:39:51|  2019-01-01 00:48:02|              1|          .55|         1|                 N|         170|         170|           1|        6.5|  0.5|    0.5|      1.95|           0|                  0.3|        9.75|                null|
|       2| 2019-01-01 00:16:16|  2019-01-01 00:25:57|              1|         1.72|         1|                 N|           0|         247|           2|          9|  0.5|    0.5|         0|           0|                  0.3|        10.3|                null|
|       2| 2019-01-01 00:57:45|  2019-01-01 01:03:51|              1|         1.42|         1|                 N|         170|         141|           1|        6.5|  0.5|    0.5|      1.56|           0|                  0.3|        9.36|                null|
|       1| 2019-01-01 00:19:55|  2019-01-01 00:57:56|              1|        12.30|         1|                 N|           0|          50|           1|         38|  0.5|    0.5|         4|        5.76|                  0.3|       49.06|                null|
|       1| 2019-01-01 00:55:27|  2019-01-01 01:11:50|              1|         1.20|         1|                 N|         161|         170|           1|       10.5|  0.5|    0.5|      2.95|           0|                  0.3|       14.75|                null|
|       1| 2019-01-01 00:17:00|  2019-01-01 00:22:39|              3|          .60|         1|                 N|           0|         229|           1|        5.5|  0.5|    0.5|      1.35|           0|                  0.3|        8.15|                null|
|       1| 2019-01-01 00:32:59|  2019-01-01 00:32:59|              3|          .00|         1|                 Y|         237|         264|           2|        6.5|  0.5|    0.5|         0|           0|                  0.3|         7.8|                null|
|       2| 2019-01-01 00:11:45|  2019-01-01 00:40:51|              1|         6.57|         1|                 N|           0|         238|           1|         24|  0.5|    0.5|      5.06|           0|                  0.3|       30.36|                null|
|       2| 2019-01-01 00:52:37|  2019-01-01 01:03:42|              1|         2.10|         1|                 N|         151|         142|           2|        9.5|  0.5|    0.5|         0|           0|                  0.3|        10.8|                null|
|       1| 2019-01-01 00:17:49|  2019-01-01 00:30:37|              1|         4.20|         1|                 N|           0|         229|           1|         15|  0.5|    0.5|      3.25|           0|                  0.3|       19.55|                null|
|       1| 2019-01-01 00:41:07|  2019-01-01 01:51:53|              1|        11.20|         1|                 N|         141|          83|           2|       46.5|  0.5|    0.5|         0|           0|                  0.3|        47.8|                null|
|       1| 2019-01-01 00:42:56|  2019-01-01 00:46:41|              2|          .70|         1|                 N|           0|         140|           2|        4.5|  0.5|    0.5|         0|           0|                  0.3|         5.8|                null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

#### Print total numbers of rows in the dataframe

In [68]:
#df.count()

7667792

#### Print total number of rows in the dataframe after excluding trips with no pickup location

In [60]:
# df_no_pickup_locations = exclude_no_pickuplocations(df)
# df_no_pickup_locations.count()

3833896

#### Print total number of rows in the dataframe after exclude trips with no distance

In [61]:
# df_no_trip_distance = exclude_no_tripdistance(df)
# df_no_trip_distance.count()

2030274

#### Print total number of rows in the dataframe after including trips with fair amount between the range of 20 to 60 Dollars

In [62]:
# df_include_fare_range = include_fare_range(df)
# df_include_fare_range.count()

255321

#### Print the highest tip amount

In [63]:
# max_tip = get_highest_tip(df)
# print(max_tip)

212.00

#### Print the total toll amount

In [67]:
# total_toll = get_total_toll(df)
# print(total_toll)

561387.86